openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://localhost:8080
  description: Generated server url
paths:
  /api/account/tree:
    get:
      tags:
      - account-controller
      operationId: getAccountTree
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountTreeDTO"
components:
  schemas:
    AccountTreeDTO:
      type: object
      properties:
        guid:
          type: string
        name:
          type: string
        accountType:
          type: string
        children:
          type: array
          items: {}
